*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.logo{
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: red;
    position: relative;

}
.same{
    width: 50%;
    height: 50%;
    background-color:  #0078d4 ;
}
.one{
    border-right: 5px solid;
    border-bottom: 5px solid;
}
.two{
    border-bottom: 5px solid;
}
.three{
    border-right: 5px solid;
}
.logo::before{
    content: "";
    position: absolute;
    height: 50px;
    width: 406px;
    background-color: black;
    transform: rotate(-7deg);
    top: -24px;
    left: -4px;
}
.logo::after{
    content: "";
    position: absolute;
    height: 50px;
    width: 406px;
    background-color: black;
    transform: rotate(5deg);
    bottom: -24px;
    left: -4px;
}